

snippet beg "begin{} / end{}" bA
\begin{$1}
	$0
\end{$1}

endsnippet

snippet simpfig "begin{figure} / end{figure}" bA
\begin{figure}[H]
	\centering
	\includegraphics[width=$1\textwidth]{$2}
\end{figure}

endsnippet

snippet fig "begin{figure} / end{figure}" bA
\begin{figure}[H]
	\centering
	\includegraphics[width=$1\textwidth]{$2}
	\caption{$3}
	\label{fig:$4}
\end{figure}

endsnippet

snippet lst "lstinputlisting[]{}" bA
\lstinputlisting[language=$1]{$0}
endsnippet


