@import '../theme/waybarColors.css';

* {
    border: none;
    font-family: "LilexNerdFont";
    font-size: 15px;
    color: #ffffff;
    border-radius: 10px;
}


window {
	/*font-weight: bold;*/
}

window#waybar {
    /* Transparent background, whole of waybar*/
    background: rgba(0, 0, 0, 0);
}

/*-----module groups----*/
.modules-right {
    margin: 5px 10px 0 0;
}
.modules-center {
	background-color: @MODULE_BACKGROUND;
    margin: 5px 0 0 0;
}
.modules-left {
    margin: 5px 0 0 10px;
	background-color: @MODULE_BACKGROUND;
}
/* All modules in the center */
.modules-center > widget > *{
    margin: 0px 1em 0px 1em;
}

/* All modules on the right */
.modules-right > widget > * {
	background-color: @MODULE_BACKGROUND;
    margin: 0 0.25em;
}



/*-----modules indv----*/
#workspaces button {
    background-color: transparent;
}

/* jank fixes to make it centered */
/* Youll need to adjust these if you chagne font/icons*/
#network {
    padding-right: 0.5em;
}


#workspaces button:hover {
    /* box-shadow: inherit; */
	/* background-color: rgba(0,153,153,1); */

    /* Why does this go all white? */
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
    /* To disable fade-in */
    /*transition: none;  */

	background-color: @HIGHLIGHT_COLOR;
}

#workspaces button.focused {
	background-color: @MAIN_COLOR;
    
}

#workspaces button.active {
    background-color: @MAIN_COLOR;
}

/* Used for a few modules */

#pulseaudio {
    padding: 0px 1.125em 0px 0.5em;
}

#custom-power {
    background-color: @MAIN_COLOR;
    padding: 0px 0.25em 0px 0px;
    border-radius: 20px;
}

#custom-hyprsunset {
    padding-right: 0.25em;
}

#pulseaudio.muted {
    color: #cc3436;
}

#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}

#temperature.critical {
    color: #cc3436;
}

#idle_inhibitor { }

#mode {
    color: #cc3436;
    font-weight: bold;
}

