@import '../theme/waybarColors.css';

* {
    border: none;
    font-family: "Iosevka Term Semibold Extended";
    font-size: 15px;
    color: #ffffff;
    border-radius: 10px;
}


window {
	/*font-weight: bold;*/
}

window#waybar {
    /* Transparent background, whole of waybar*/
    background: rgba(0, 0, 0, 0);
}

/*-----module groups----*/
.modules-right {
	background-color: @MODULE_BACKGROUND;
    margin: 4px 10px 0 0;
}
.modules-center {
	background-color: @MODULE_BACKGROUND;
    margin: 4px 0 0 0;
}
.modules-left {
    margin: 4px 0 0 10px;
	background-color: @MODULE_BACKGROUND;
}
/*-----modules indv----*/
#workspaces button {
    padding: 0px 5px;
    background-color: transparent;
}

#workspaces button:hover {
    /* box-shadow: inherit; */
	/* background-color: rgba(0,153,153,1); */

    /* Why does this go all white? */
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
    /* To disable fade-in */
    /*transition: none;  */

	background-color: @HIGHLIGHT_COLOR;
}

#workspaces button.focused {
	background-color: @MAIN_COLOR;
    
}

#workspaces button.active {
    background-color: @MAIN_COLOR;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,

/* Used for a few modules */
#idle_inhibitor {
    padding: 0 10px;
}


#mode {
    color: #cc3436;
    font-weight: bold;
}

#custom-power {
    background-color: @MAIN_COLOR;
    border-radius: 10px;
    margin: 5px 5px;
    padding: 1px 2px 1px 6px;
}

#pulseaudio.muted {
    color: #cc3436;
}

#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}

#temperature.critical {
    color: #cc3436;
}
