@import '../../.cache/wal/waybarColors.css';

* {
    border: none;
    font-family: "LilexNerdFont";
    font-size: 15px;
    color: #ffffff;
    border-radius: 10px;
}


window {
	/*font-weight: bold;*/
}

window#waybar {
    /* Transparent background for the whole of waybar*/
    background: rgba(0, 0, 0, 0);
}

/*-----module groups----*/
.modules-right {
    margin: 5px 10px 0 0;
}
.modules-center {
	background-color: @MODULE_BACKGROUND;
    margin: 5px 0 0 0;
}
.modules-left {
    margin: 5px 0 0 10px;
	background-color: @MODULE_BACKGROUND;
}

/* All modules in the center */
.modules-center > widget > *{
    margin: 0px 1em 0px 1em;
}

/* All modules on the right */
.modules-right > widget > * {
	background-color: @MODULE_BACKGROUND;
    margin: 0 0.25em;
}

/*----- Right icons -----*/
/* Lots of the "Padding right" is to fix weird icon spacing */
#network {
    padding-right: 0.5em;
}

#backlight {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#battery {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#battery.charging {
    color: #2dcc36;
}

#battery.warning:not(.charging) {
	color: #e6e600;
}

#battery.critical:not(.charging) {
    color: #cc3436;
}

#pulseaudio {
    padding: 0px 0.75em 0px 0.5em;
}

#pulseaudio.muted {
    color: #cc3436;
}

#custom-hyprsunset {
    padding-right: 0.25em;
}

#custom-power {
    background: linear-gradient(to bottom, @MODULE_BACKGROUND, @MAIN_COLOR);
    padding: 0px 0.25em 0px 0px;
    border-radius: 20px;
}

/* Workspaces config */
#workspaces button {
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
	background-color: @HIGHLIGHT_COLOR;
}

#workspaces button.focused {
	background-color: @MAIN_COLOR;
    
}

#workspaces button.active {
    background: linear-gradient(to bottom, @BACKGROUND_COLOR, @MAIN_COLOR);
}

/* OTHER */
#idle_inhibitor { }

#mode {
    color: #cc3436;
    font-weight: bold;
}
