/* ROFI (app selector and more) color theme */

/* Rofi colors specified in...  */
@import "../theme/rofiColors"

* {
    foreground:                  @myPrimary;
    normal-foreground:           @myPrimary;
    border-color:                @myPrimary;
    background-color:            @background;

    /* Color (and alternate color) */
    normal-background:           rgba (0,0,0,0%);
    alternate-normal-background: rgba (0,0,0,0%);

    selected-active-background:  rgba ( 138, 196, 255, 100 % );

    /* ? */
    active-background:           red;
    selected-active-background:  cyan;

    /* Current selected background */
    selected-normal-background:  @selected;

    urgent-background:           rgba ( 0, 0, 208, 0 % );
    selected-urgent-background:  rgba ( 255, 129, 127, 100 % );
    alternate-urgent-background: rgba ( 0, 0, 0, 0 % );
    alternate-active-background: rgba ( 0, 0, 0, 0 % );
    alternate-active-background: rgba ( 0, 0, 0, 0 % );

    selected-normal-foreground:  rgba ( 2, 20, 63, 100 % );
    selected-urgent-foreground:  rgba ( 2, 20, 63, 100 % );
    urgent-foreground:           rgba ( 255, 129, 255, 100 % );
    active-foreground:           rgba ( 138, 196, 255, 100 % );
    selected-active-foreground:  rgba ( 2, 20, 63, 100 % );
    alternate-normal-foreground: @foreground;
    alternate-urgent-foreground: @urgent-foreground;
    alternate-active-foreground: @active-foreground;

    spacing:                     2;
    separatorcolor:              @highlight;

}
window {
    background-color:   @background;
    border:             2;
    border-radius:      10px;
    padding:            15;
    margin:             2;
}
mainbox {
    background-color: rgba (0,0,0,0%);
    border:  0;
    padding: 0;
}
message {
    border:       2px 0px 0px ;
    border-color: @separatorcolor;
    padding:      1px ;
}
textbox {
    text-color: @foreground;
}
listview {
    /* The list view adds a slight background color by default */
    background-color: rgba (0,0,0,0%);
    fixed-height: 0;
    border:       2px 0px 0px ;
    border-color: @separatorcolor;
    spacing:      2px ;
    scrollbar:    true;
    padding:      2px 0px 0px ;
}
element {
    border:  0;
    padding: 1px ;
}
element-text {
    background-color: inherit;
    text-color:       inherit;
}
element.normal.normal {
    background-color: @normal-background;
    text-color:       @normal-foreground;
}
element.normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}
element.normal.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}
element.selected.normal {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
element.selected.urgent {
    background-color: @selected-urgent-background;
    text-color:       @selected-urgent-foreground;
}
element.selected.active {
    background-color: @selected-active-background;
    text-color:       @selected-active-foreground;
}
element.alternate.normal {
    background-color: @alternate-normal-background;
    text-color:       @alternate-normal-foreground;
}
element.alternate.urgent {
    background-color: @alternate-urgent-background;
    text-color:       @alternate-urgent-foreground;
}
element.alternate.active {
    background-color: @alternate-active-background;
    text-color:       @alternate-active-foreground;
}
scrollbar {
    width:        4px ;
    border:       0;
    handle-width: 8px ;
    padding:      0;
    background-color: rgba (0,0,0,0%);

    /* I just want to change the actual color */
    /* background-color: @highlight; */
}
    /* background-color: rgba (0,0,0,0%); */
mode-switcher {
    border:       2px 0px 0px ;
    border-color: @separatorcolor;
}
button.selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
inputbar {
    background-color: rgba (0,0,0,0%);
    spacing:    0;
    text-color: @normal-foreground;
    padding:    1px ;
    background-color: rgba (0,0,0,0%);
}
case-indicator {
    /* Very far right of text box*/
    spacing:    0;
    text-color: @normal-foreground;
    background-color: rgba (0,0,0,0%);
}
entry {
    spacing:    0;
    text-color: @normal-foreground;
    background-color: rgba (0,0,0,0%);
}
prompt, button{
    background-color: rgba (0,0,0,0%);
    spacing:    0;
    text-color: @normal-foreground;
}
inputbar {
    children:   [ prompt,textbox-prompt-colon,entry,case-indicator ];
}
textbox-prompt-colon {
    background-color: rgba (0,0,0,0%);
    expand:     false;
    str:        ":";
    margin:     0px 0.3em 0em 0em ;
    text-color: @normal-foreground;
}
