

* {
    myPrimary: #33bbffff;
    mySecondary: #ffba51ff;
    dimSecondary: #bf8b3dff; 
    /* Highlight as you search */
    highlight: @mySecondary;
    foreground: @myPrimary;
    selected: @dimSecondary;
    background: rgba (0,0,0, 50%);
}

